/* /src/components/App */
/* Appointment card */

.BookingContainer {
    margin: 30px;
}
.appointments-container h1{
	text-align: center;
}
.appointment-cards{
	display: flex;
	padding: 10px;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;

}
.appointment-card {
    border: 2px solid #27187E;
    border-radius: 8px;
    /* display: flex; */
    padding: 16px;
    margin: 16px 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    /* width: 100%; */
    width: 280px;
 

	&:hover {
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	}

	p {
		font-size: 15px;
		margin: 8px;
	}

	p {
		span {
			font-weight: 900;
			margin: 0px 5px;		}
	}

	
}

button {
	border-radius: .3rem;
	text-decoration: none;
	border: none;
	background-color: #ffd60a;
	color: #212529;
	font-weight: bold;
	font-size: 1rem;
	padding: .5rem .5rem;
	margin: 3px;
	
	cursor: pointer;
	&:hover {
		background-color: #ffc300;
	}
}

.appointment-form {
    max-width: 800px;
    width: 80%;
    padding: 10px 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.appointment-list {
    display: flex;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
}

.bookingsContainer{
	display: flex	;
}

.appointment-form h4 {
    font-size: 35px;
    margin: 25px 0px;
    text-align: center;
    color: #27187E;
}

.appointment-form label {
	display: block;
	margin-bottom: 8px;
}

.appointment-form input, select {
	width: 100%;
	padding: 8px;
	margin-bottom: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
}


  
.appointment-form button {
	display: inline-block;
	border-radius: .3rem;
	text-decoration: none;
	border: none;
	width: 100%;
	background-color: #ffd60a;
	color: #212529;
	font-weight: bold;
	font-size: 1.2rem;
	padding: .5rem 1rem;
	margin: 5px;
	cursor: pointer;
	&:hover {
		background-color: #ffc300;
	}
}



.appointments {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.add-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 250px;
}
  
.editformBtns{
    display: flex;
    justify-content: space-between;
}

.flex-row{
	justify-content: space-evenly !important;
}

/* .header{
	position: relative;
} */

@media (max-width: 1024) {
	.appointment-cards {
       
		justify-content: center;

    }
	.appointment-list {
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
	}
	


}
@media (max-width: 768px) {
  
	.appointment-list {
		justify-content: center;
		flex-wrap: wrap;
	}
	


}



