.signup-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 70px;
  background-color: white; 
  border-radius: 10px;
}
.signupLogo{
  font-size: 2rem;
  padding: 5rem;
}
.signup-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.signup-input {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.signup-button {
  display: inline-block;
  border-radius: .3rem;
  text-decoration: none;
  width: 100%;
  border: none;
  background-color: #ffd60a;
  color: #212529;
  font-weight: bold;
  font-size: 1.3rem;
  padding: .5rem 1rem;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #ffc300;
}

.login-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #27187E;
  font-size: 18px; 
  text-decoration: none;
}
