.vehicles .vehicles-slider{
    padding-bottom: 5rem;
    margin: 0 8rem 0 8rem;
}
.vehicles .vehicles-slider .box{
    text-align: center;
}
.vehicles .vehicles-slider .box img{
    width: 100%;
    height: 50%;
    display: flex;
}
.vehicles .vehicles-slider .box .content{
    margin-top: 2px;
}
.vehicles .vehicles-slider .box .content h3{
    font-size: 2rem;
    color: #212529;
}
.vehicles .vehicles-slider .box .content .price{
    font-size: 1.5rem;
    color: #ffc300;
    font-weight: bolder;
}
.vehicles .vehicles-slider .box .content p{
    font-size: 1rem;
    padding: 1rem;
    padding-top: 1.5rem;
    border-top: 1px solid #adb5bd;
    color: #343a40;
}
.vehicles .vehicles-slider .box .content p span{  
    color: #ffc300;
    font-size: .8rem;
    padding:0 .5rem;
}
.swiper-wrapper{
    height: 30rem;
    width: 100%;
}

@media(max-width:900px){
    html{
        font-size: 60%;
    }
    .vehicles .vehicles-slider{
        margin: 0 3rem 0 3rem;
    }
    .vehicles .vehicles-slider .box .content h3{
        font-size: 3.5rem;
        color: #212529;
    }
    .vehicles .vehicles-slider .box .content .price{
        font-size: 2.5rem;
    }
    .vehicles .vehicles-slider .box .content p{
        font-size: 1.5rem;
        padding: 1rem;
    }
    .vehicles .vehicles-slider .box .content p span{  
        font-size: 1.3rem;
    }
}